.pop-up {
    position: fixed;
    top: 160px;
    right: 230px;
    height: 200px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popinner {
    position: relative;
    padding: 20px;
    width: 100%;
    background-color: antiquewhite;

}
.btn-close{
    background-color: none;
    margin: none;
}